body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.calculator {
    width: 300px;
    margin: 100px auto;
    background-color: #5c1954;
    border: 2px solid #a61f1f;
    border-radius: 6%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calculator-screen {
    width: 92%;
    height: 60px;
    border: 2px solid #e3d1d1;
    border-radius: 118px;
    background-color: #f9f9f9;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 8%;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.calculator-keys button {
    padding: 20px;
    font-size: 18px;
    border: none;
    background-color: #22ad37;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.calculator-keys button:hover {
    background-color: #360404;
}
